<p id="notice"><%= notice %></p>

<h1>Hotéis</h1>

<%= paginate @hotels %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Número de quartos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.id %></td>
        <td><%= hotel.nome %></td>
        <td><%= hotel.endereco %></td>
        <td><%= hotel.numeroQuartos %></td>
        <td><%= link_to 'Mostrar', hotel, :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Editar', edit_hotel_path(hotel) , :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Apagar', hotel, method: :delete, data: { confirm: 'Tem certeza?' }, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Hotel', new_hotel_path, class:"btn btn-primary" %> -

<%= link_to 'Gerar PDF', hotels_path(format: 'pdf'), class:"btn btn-primary"  %> -

<%= link_to 'Voltar', home_index_path, class:"btn btn-primary" %> 